.container-1,.container-2, .container-3 , .container-4, .container-5{
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}


.flex-box-container-1,.flex-box-container-2, .flex-box-rps, .flex-box-container-3, .flex-box-pick-color, .flex-black-jack-row-1, .flex-black-jack-row-2, .flex-black-jack-row-3{
    display: flex;
    padding: 10px;
    border: 1px solid white;
    justify-content: space-evenly;
    flex-wrap: wrap;  /* this style describes how the display of divs are arranged. */
    flex-direction:row ;
}

.flex-black-jack-row-1, .flex-black-jack-row-2 {
    background: url('');
    color: rgb(76, 73, 73);
}

#your-box, #dealer-box {
    border: 1px solid black;
}
 
.flex-black-jack-row-1 div {
    border: 1px solid #fff;
    padding: 10px;
    height: 400px;
    text-align: center;
    flex: 1;
}

.flex-black-jack-row-2 button {
    border: 1px solid white;
}

.flex-black-jack-row-2 div{ 
    border: 1px solid white;
    padding: 10px;
}

table, tr, th, td {
    padding: 5px;
    border: 1px solid black;
}

.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    /* border: 1px solid black; */
    align-items: center;
}

 
.flex-box-container-2 img {
    border:1px solid green;
    padding: 10px;
    width: 30%;
    margin: 3px;

}

#rock, #paper, #scissors {
    width: 150px;
}

#rock:hover , #paper:hover, #scissors:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);

}


.hoverEffect {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.hoverRedEffect {
    box-shadow: 0px 10px 50px rgb(255, 81, 81,0.9);
}

.hoverRedEffect:hover {
    box-shadow: 0px 10px 50px rgb(255, 81, 81,0.9);
}

img {
    width: 80px;
    height: 80px;
    padding: 10px;
}